{% extends 'market/base.html' %}
{% block rent_active %}active{% endblock %}

{% block body %}
    <div class="albums-container container-fluid">

        <!-- Items -->
        <div class="row">
            <div class="container">
                <a href="{% url 'market:rent_sth' %}" class="btn btn-primary center-block btn-lg" role="button">Want To Rent An Item?</a><br>
            </div>
            {% if items %}
                <!--My Items -->
                <div class="text-center" id="sty"><h3><strong>My Items</strong></h3></div><br>
                <div class="container">
                    {% for item in items %}
                        {% if item.userName == user.username %}
                            <div class="col-sm-4 col-lg-2">
                                <div class="thumbnail">

                                    <!-- Item Image -->

                                    <img src="{{ item.image.url }}">
                                    <div class="caption">
                                        <h4>{{ item.ItemName }}</h4>
                                        <h4>Rentee : {{ item.Rentee }}</h4>
                                        <h4>Contact : {{ item.contact }}</h4>

                                        <!-- Delete Item -->
                                        <form action="{% url 'market:rItem-delete' item.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <button type="submit" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>

                                        <!-- Edit or Update Item Details -->
                                        <a href="{% url 'market:rItem-update' item.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>

                                    </div>
                                </div>
                            </div>


                            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}

                        {% endif %}
                    {% endfor %}

                </div>

                <br><br>
                <!-- All Items -->
                <div class="text-center" id="sty"><h3><strong>All Items</strong></h3></div><br>
                {% for item in items %}
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">

                            <!-- Item Image -->

                            <img src="{{ item.image.url }}">

                            <div class="caption">
                                <h4>{{ item.ItemName }}</h4>
                                <h4>Rentee : {{ item.Rentee }}</h4>
                                <h4>Contact : {{ item.contact }}</h4>

                                {% if user.username == 'root' %}
                                    <!-- Delete Item -->
                                    <form action="{% url 'market:rItem-delete' item.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_id" value="{{ item.id }}" />
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>

                                    <!-- Edit or Update Item Details -->
                                    <a href="{% url 'market:rItem-update' item.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% else %}
                <h1>No Items</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}